<h2>Posts</h2>
<div class="row">
	<div class="col-md-6">
        <select #u class="form-control" (change) = "filterPosts({userId: u.value})">
            <option value="">Select a user...</option>
            <option *ngFor="let user of users" value="{{ user.id }}">
                {{ user.name }}
            </option>
        </select>
        <pagination [items]="posts" [page-size]="pageSize" (page-changed)="onPageChanged($event)"></pagination>
        <spinner [visible] = "isLoadingPosts"></spinner>
        <ul class="list-group posts">
            <li *ngFor="let post of pagedPosts" class="list-group-item" (click) = "show(post)">
                {{ post.title }}
            </li>
        </ul>
	</div>
    <div class="col-md-6" *ngIf="showDetail">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{post.title}}</h3>
            </div>
            <div class="panel-body">
                {{post.body}}
            </div>
        </div>
        <spinner [visible] = "isLoadingComments"></spinner>
        <div class="media" *ngFor="let comment of comments">
            <div class="media-left">
                <a href="#">
                <img class="media-object thumbnail" src="http://lorempixel.com/80/80/people?ramdom={{comment.id}}" alt="{{comment.email}}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{comment.name}}</h4>
                {{comment.body}}
            </div>
        </div>
    </div>
</div>